body{
	background: url("../images/wood_pattern.png");	
}

.masterimage {
  background: #ffc20d;
  border-bottom: 5px solid #e85b1b;
  margin-bottom: 10px;
  /*clear:both;*/
}

.gameborder{
	border: 2px #e85b1b dotted;
	padding: 0;
	overflow: auto;
}

.gameMessage{
	text-align: center;
}

.wordGuess {
	font-size: 50px;
	letter-spacing: 20px;
}

.artistImage {
	width: 400px;
    height: auto;
/*    margin-top: 40px;
    padding-left: 50px;
    padding-bottom: 50px;*/
}

.result{
	width: 100%;
}